@media (max-width: 1000px) {
    body #content, body .footer {
        width: 550px;
    }
    #content .menu_content .menu_card {
        width: 450px;
    }
    #content .menu_content .h3 {
        font-size: 0.9rem;
    }
    #content .menu_content .price {
        font-size: 1rem;
    }
    .menu_card .menu_img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 870px) {
    body #content, body .footer {
        width: 470px;
    }
    .header .h1 {
        font-size: 1.1rem;
    }
    .tabs .button {
        width: 80px;
        font-size: 0.9rem;
    }
    #content #menu_btn2 {
        width: 250px;
        height: 28px;
        font-size: 1rem;
    }
    #content .menu_content .menu_card {
        width: 350px;
    }
    .menu_card .menu_img {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 670px) {
    body .header {
        justify-content: space-between;
    }
    .header .tabs {
        display: none;
    }
    .header .ham_menu_wrapper {
        display: block;
    }
}

@media (max-width: 580px) {
    body #content, body .footer {
        width: 320px;
    }
    body .footer {
        height: 130px;
    }
    #content .menu_content .menu_card {
        width: 290px;
    }
    .menu_card .menu_img {
        width: 50px;
        height: 50px;
    }
}